@model IEnumerable<LibroPrestamo>

@{
    ViewData["Title"] = "Prestamo de libros";
}

<h1>Lista de Prestamos</h1>

<p>
    <a asp-action="CrearPrestamo">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Libro.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Libro.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prestamo.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prestamo.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prestamo.NumeroEstudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prestamo.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prestamo.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prestamo.NumeroEstudiante)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "EliminarPrestamo", new { Isbn = item.Libro.Isbn, NumeroEstudiante = item.Prestamo.NumeroEstudiante})
            </td>
        </tr>
        }
    </tbody>
</table>
