@model IEnumerable<Estudiante>

@{
    ViewData["Title"] = "ListaEstudiante";
}

<h1>Lista de Estudiantes</h1>

<p>
    <a asp-controller="Estudiante" asp-action="AgregarEstudiante">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditarEstudiante", new { id=item.NumeroEstudiante}) |
                @Html.ActionLink("Details", "BuscarEstudiante", item) |
                @Html.ActionLink("Delete", "BorrarEstudiante", item)
            </td>
        </tr>
}
    </tbody>
</table>
