@model IEnumerable<Libro>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "ListaLibro";
}

<h1>Lista de Libros</h1>

<p>
    <a asp-action="AgregarLibro">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idautor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idautor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaLanzamiento)
                </td>
                @if (HttpContextAccessor.HttpContext.Session.GetString("Tipo") == "Administrador")
                {
                    <td>
                        @Html.ActionLink("Edit", "EditarLibro", new { Isbn = item.Isbn }) |
                        @Html.ActionLink("Details", "DetalleLibro", item) |
                        @Html.ActionLink("Delete", "BorrarLibro", item)
                    </td>
                }
                <td>
                    @Html.ActionLink("Prestamo", "CrearPrestamo", "Prestamo", new { Isbn = item.Isbn })
                </td>
            </tr>
        }
    </tbody>
</table>
